<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ivs.system.Properties.Settings.imsDbConnectionString"
            connectionString="Data Source=DESKTOP-3OKF36U\MSSQLSERVER01;Initial Catalog=imsDb;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>